<!DOCTYPE html>
    <head>
        <title>Welcome to my Hompage</title>
    </head>
    <body>
        <h1>롤전적 검색</h1>
        <form action="/search">
                LOL전적 : <input type="text" name="userName"/>
               <input type="submit" value="전적검색"/>
        </form><br/>
        

    </body>
</html>